# Archivo gestionado por Ansible - rol ssh_hardening
# No editar manualmente, los cambios se sobreescribiran
Port {{ ssh_hardening_port }}
PermitRootLogin {{ ssh_hardening_permit_root_login }}
PasswordAuthentication {{ ssh_hardening_password_authentication }}
